
        .material-symbols-outlined {
            font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
            vertical-align: middle;
        }
        .glass-nav {
            background: rgba(14, 20, 66, 0.6);
            backdrop-filter: blur(20px);
        }
        ::-webkit-scrollbar { width: 8px; }
        ::-webkit-scrollbar-track { background: #05092f; }
        ::-webkit-scrollbar-thumb { background: #182056; border-radius: 10px; }
    