.manage-users-container {
  padding: 10px;

  h2 {
    margin-bottom: 20px;
    color: #333;
  }
}

.table-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  .search-field {
    width: 300px;
  }
}

.full-width-table {
  width: 100%;
}
