
        .no-line-rule { border: none !important; }
        .tonal-shift { background-color: #080e38; }
        .material-symbols-outlined {
            font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
            display: inline-block;
            line-height: 1;
            text-transform: none;
            letter-spacing: normal;
            word-wrap: normal;
            white-space: nowrap;
            direction: ltr;
        }
        .glass-card {
            background: rgba(24, 32, 86, 0.6);
            backdrop-filter: blur(20px);
        }
    